sudo nano /etc/nginx/sites-available/neulibrary.conf

===============================================================
server {
    listen 80;
    server_name library.edu.ph;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name library.edu.ph; # Fixed: Added semicolon

    client_max_body_size 4G;

    ssl_certificate /etc/ssl/neulibraryssl/cert.pem;
    ssl_certificate_key /etc/ssl/neulibraryssl/key.pem;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        alias /home/ubuntu/neulibrary/static_files/;
    }

    location /media/ {
        alias /home/ubuntu/neulibrary/media_files/;
    }

    # MOVE REACT HERE (Above the "/" block)
    location /libera-opac/ {
        alias /home/ubuntu/neulibrary/frontend/dist/;
        index index.html;
        try_files $uri $uri/ /libera-opac/index.html;
    }

    # DJANGO IS LAST (The catch-all)
    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

==================================================================

sudo nginx -t
sudo systemctl restart nginx



*** Monitor Logs realtime
sudo tail -f /var/log/nginx/error.log
sudo tail -f /var/log/nginx/access.log

*** Clear the logs
sudo truncate -s 0 /var/log/nginx/error.log
sudo truncate -s 0 /var/log/nginx/access.log
